@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Ubuntu Sans';
  src: url('/fonts/UbuntuSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url('/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-display: swap;
}



:root {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #64A199;
  --color-accent: #1B63FF;
  --color-neutral: #FFFFFF;
  --color-secondary: #001A17;


  /*Typografi */
  --font-display: 'Ubuntu Sans', sans-serif;
  --font-sans: 'Istok Web', sans-serif;
  --font-serif: 'Domine', serif;
}

@layer base {

}

@layer components{

}

@layer utilities{
  .font-display { font-family: var(--font-display) !important; }
  .font-sans { font-family: var(--font-sans) !important; }
  .font-serif { font-family: var(--font-serif) !important; }
}