@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Ubuntu Sans';
  src: url('/fonts/UbuntuSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}


@font-face {
  font-family: 'Istok Web';
  src: url('/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-display: swap;
}



:root {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #64A199;
  --color-accent: #1B63FF;
  --color-neutral: #FFFFFF;
  --color-secondary: #001A17;


  /*Typografi */
  --font-display: 'Ubuntu Sans', sans-serif;
  --font-sans: 'Istok Web', sans-serif;
  
}

@layer base {


  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    font-family: var(--font-sans);
    line-height: 1.6;
  }
  main{
    margin: 30px;
  }
 

  *, *::before, *::after {
    box-sizing: border-box;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }
  h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-family: var(--font-display);
}

h2 {
  font-size: clamp(1.25rem, 2.5vw, 2.25rem);
  font-family: var(--font-display);
}

h3 {
  font-size: clamp(1.1rem, 2vw, 1.75rem);
  font-family: var(--font-display);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  line-height: 1.6;
}
  
}

@layer components{

}

@layer utilities{
  .font-display { font-family: var(--font-display) !important; }
  .font-sans { font-family: var(--font-sans) !important; }
  .font-serif { font-family: var(--font-serif) !important; }
}